<?xml version="1.0" encoding="utf-8" ?>
<weather>
<location country="london" city="chingoford" id="01">
<geo long="142.77" lat="-4.54"></geo>
<recorded date="2019-10-04T07:22:41+0000" > 
	<celcius>
		+32
	</celcius>
	<text>
		Cloudy
	</text>
	<subinfo sunrise="06h52m" sunset="16h58m"></subinfo>
	<wind speed="0.47"  deg="107.538"> 
    </wind>
</recorded>
<recorded date="2019-10-05T07:22:41+0000" > 
	<celcius>
		+21
	</celcius>
	<text>
		Partial Cloudy
	</text>
	<img_src>
		https://somedomain.fr/wi/412
	</img_src>
	<subinfo sunrise="07h52m" sunset="17h06m"></subinfo>
	<wind speed="0.47"  deg="107.538"> 
	</wind>
</recorded>
<recorded date="2019-10-06T07:22:41+0000" > 
	<celcius>
		+27
	</celcius>
	<text>
		Sunny
	</text>
	<img_src>
		https://somedomain.fr/wi/178
	</img_src>
	<subinfo sunrise="06:04" sunset="16h36m"></subinfo>	
	<wind speed="0.47"  deg="107.538"> </wind>
</recorded>
<recorded date="2019-10-07T07:22:41+0000" > 
	<celcius>
		+30
	</celcius>
	<text>
		Partial Cloud
	</text>
	<img_src>
		https://somedomain.fr/wi/23
	</img_src>
	<subinfo sunrise="06h04m" sunset="16h36m"></subinfo>
	<wind speed="0.47"  deg="107.538"> </wind>
</recorded>
<recorded date="2019-10-08T07:22:41+0000" > 
	<celcius>
		+18
	</celcius>
	<text>
		Windy
	</text>
	<img_src>
		https://somedomain.fr/wi/215
	</img_src>
	<subinfo sunrise="07h12m" sunset="18h23m"></subinfo>
</recorded>
<recorded date="2019-10-09T07:22:41+0000" > 
	<celcius>
		+11
	</celcius>
	<text>
		Mostly Cloudy
	</text>
	<img_src>
		https://somedomain.fr/wi/12
	</img_src>
	<subinfo sunrise="07h49m" sunset="19h23m"></subinfo>
	<wind speed="0.47"  deg="107.538"> </wind>
</recorded>
</location>
</weather>

